/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* GENERAL */

*{
    font-family: 'Open Sans', sans-serif;
}



/* DEBUG */



/* HEADER */


 header{
   background-color:#3161E0;
   
   

}
   
   
   


.flex-container{
    display: flex;
    justify-content: space-around;
}
    
    
    
    
    

    
.flex-small{
    width: 25%;
    
}
   

.flex-big{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}

li{
    display: inline-block;
    list-style: none;
    
    
}

li > a{
    color: white;
}

 .flex-small > button{
     
     border-radius: 50px;
     background-color: white;
     border-color: white;
    }

    button > a{
        color: black;
        font-size: 1.2em;
        padding: 15px;

    }
     
   .jumbo{
    background-image: url(../img/jumbo.png);
    padding: 100px 0;
   }
    
   .container{
       width:100%;
       max-width:1200px;
       margin:0 auto;
   }

   .site-description{
    width: 400px;
    margin: 0 auto;
    color: white;
   }

    .site-description > h2{
        font-size: 30px;
        margin: 20px;
    }

    .site-description:last-child{
        line-height: 30px;
        text-align: center;
    }


    .my-button{
        background-color: white;
        border-radius: 50px;
        font-size: 10px;
        padding: 10px;
    }

    .dark-button{
        background-color: black;
        color: white;
    }


    
    





